img {
    margin: auto;
}

.item-info {

    h2, h2 a {
        margin-top: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width:100%;
    }

    a, p {
        margin-right: 1em;
    }


}

@media (min-width: 800px){
    .item-info {
        a, p {
            display: inline-block;
        }

        a:first-of-type {
            float: left;
        }
    }
}