<article class="well row" *ngFor="let item of flickrFeedItems, index as i">
  <div class="col-sm-3">
      <a [routerLink]="['/detail', i]">
        <img class="thumbnail img-responsive" [src]="item.media['m']" [alt]="item.title">
      </a>
  </div>
  <div class="col-sm-9 item-info">
    <h2>
      <a [routerLink]="['/detail', i]">{{ item.title }}</a>
    </h2>
    <p>Published {{ item.published | date : 'medium' }}</p>
    <a class="underline" href="{{ 'https://www.flickr.com/photos/' + item.author_id }}">Photo author</a>
    <a class="underline" [href]="item.link">View on Flickr</a>
  </div>
</article>
